* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-family: "Lexend Deca", serif; */
  /* font-family: "Big Shoulders Display", serif; */
}

.card-container {
  width: 921px;
  height: 500px;
  border-radius: 15px;
  display: flex;
}

.cards {
  width: 307px;
  padding-left: 40px;
}
.cards img{
  margin-top: 45px;
}

.cards h2 {
  margin-top: 30px;
  font-size: 40px;
  font-weight: 700;
  font-family: "Big Shoulders Display", serif;
  color: #f2f2f2;
  text-transform: uppercase;
}

.cards p{
  width:230px;
  margin-top: 45px;
  line-height: 1.5;
  font-size: 17px;
  font-weight: 400;
  font-family: "Lexend Deca", serif;
  color: #ffffffbf;
}
.cards button{
width: 145px;
height: 45px;
margin-top: 65px;
border: none;
border-radius: 50px;
outline: none;
font-size: 15px;
font-weight: 400;
font-family: "Lexend Deca", serif;
text-transform: capitalize;

}
.card1 {
  background-color: #E28525;
  border-radius: 15px 0 0 15px;
}
.card1 button{
  color: #E28525;
}
.card2 {
  background-color: #016972;  
}

.card2 button{
  color: #016972;
}
.card3 {
  background-color: #00403F;  
  border-radius: 0 15px 15px 0;
}
.card3 button{
  color: #00403F;
}

@media(max-width:375px){
  .card-container {
    width: 310px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    margin-top: 100px;
  }

  .cards img{
    margin-top: 35px;
  }
  
  .cards h2 {
    margin-top: 20px;
    
  }
  
  .cards p{
    width:230px;
    margin-top: 35px;
    line-height: 1.5;
  }
  .cards button{
  margin-top: 55px;
  margin-bottom: 45px 
  }

  .card1 {
    background-color: #E28525;
    border-radius: 15px 15px 0 0;
  }
  .card3 {
    background-color: #00403F;  
    border-radius: 0 0 15px 15px;
  }
}